@font-face {
  font-family: argh;
  src: url(fonts/Aaargh.ttf);
}
@font-face {
  font-family: archNormal;
  src: url(fonts/Archistico_Simple.ttf);
}
@font-face {
  font-family: archBold;
  src: url(fonts/Archistico_Bold.ttf);
}
.container {
  background: #efefef;
  height: 100%;
}
.header {
  background: #5b7e2d;
  color: #ffffff;
  font-family: archBold;
  font-size: 65px;
}
@media screen and (min-width: 767px) {
  .header {
    margin-top: 15px;
  }
}
.card {
  margin-top: 20px;
}
.card .title {
  text-align: center;
  font-family: argh;
  background: #9e3b2c;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 5px;
}
.card .details {
  background: #ffbe9a;
}
.card .details .button {
  padding: 10px;
  text-align: center;
  font-family: argh;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid #ffbe9a;
  background: #c64a37;
}
.card .details .button:hover {
  background: #d26d5e;
}
.card .steps .step {
  background: #ffdfcd;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  vertical-align: middle;
  min-height: 120px;
}
.card .steps .step p {
  font-weight: bold;
  font-size: 120%;
  font-family: argh;
}
.card2 {
  margin-top: 20px;
}
.card2 .title {
  text-align: center;
  font-family: argh;
  background: #ea6219;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 5px;
}
.card2 .details {
  background: #ffbe9a;
}
.card2 .details .button {
  padding: 10px;
  text-align: center;
  font-family: argh;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid #ffbe9a;
  background: #ee8248;
}
.card2 .details .button:hover {
  background: #f2a277;
}
.card2 ul {
  list-style: none;
}
.card2 .checklist {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  border: 5px solid #ffbe9a;
  background: #f2a277;
  font-family: argh;
  font-size: 16px;
}
.bottom img {
  margin-top: 30px;
  width: 100%;
}
.or {
  text-align: center;
  font-family: archBold;
  font-size: 36px;
  margin-top: 20px;
}
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
/* starting animations for enter */
/* terminal animations for enter */
/* starting animations for leave */
/* terminal animations for leave */
