@font-face {
  font-family: argh;
  src: url(fonts/Aaargh.ttf);
}
@font-face {
  font-family: archNormal;
  src: url(fonts/Archistico_Simple.ttf);
}
@font-face {
  font-family: archBold;
  src: url(fonts/Archistico_Bold.ttf);
}
* {
  background-color: #c64a37;
  font-family: archNormal;
}
