<!DOCTYPE html>
<html lang="fr" ng-app="d3App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GQD Dashboard</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/ng-table.min.css" rel="stylesheet">

		<!-- /build -->

		<!-- @if NODE_ENV == 'DEVELOPMENT' -->


		<!-- app css -->
		<link href="css/styleDONOTTOUCH.css" rel="stylesheet" type="text/css" media="screen">
		<!-- Map libs --> 
		<link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/horizontalBarChart.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/cloudChart.css" rel="stylesheet" type="text/css" media="screen">

		<!-- @endif -->

		<!-- @if NODE_ENV == 'PRODUCTION' -->
		<link href="css/app.min.css" rel="stylesheet" type="text/css" media="screen">
		<!-- @endif -->


		<!-- Javascript files -->

		<!-- AngularJS--> 
		<script src="vendor/angular/angular.min.js" type="application/javascript"></script>
		<script src="vendor/angular/ng-table.min.js" type="application/javascript"></script>
		<script src="vendor/angular/ng-route.js" type="application/javascript"></script>
		<!-- elasticsearch js api -->
		<script src="vendor/elasticsearch/elasticsearch.js" type="application/javascript"></script>
		<script src="vendor/elasticsearch/elasticsearch.angular.min.js" type="application/javascript"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins and jVectoMap) -->
		<script src="vendor/jquery/jquery-1.11.1.min.js" type="application/javascript"></script>

		<!-- map libs -->
		<script src="vendor/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>

		<!-- app scripts  -->

		<!-- other application files -->
		<script src="js/app.js" type="application/javascript"></script>

		<!-- controllers -->
		<script src="js/controllers/homeCtrl.js"></script>

		<!-- services -->

		<!-- directives -->


		<!-- configuration file-->

	</head>


	<body role="document" ng-controller="HomeCtrl" class="container">
		<div class="row header">
			<div class="col-xs-12">B-A.BA</div>
		</div>
		<div ng-view></div>
				<div class="row bottom">
			<img src="images/bottom.png" alt="">
		</div>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="vendor/bootstrap/bootstrap.min.js"></script>

	</body>
</html>