<!DOCTYPE html>
<html lang="fr" ng-app="d3App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GQD Dashboard</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/ng-table.min.css" rel="stylesheet">

		<!-- /build -->

		<!-- @if NODE_ENV == 'DEVELOPMENT' -->


		<!-- app css -->
		<link href="css/styleDONOTTOUCH.css" rel="stylesheet" type="text/css" media="screen">
		<!-- Map libs --> 
		<link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/horizontalBarChart.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/cloudChart.css" rel="stylesheet" type="text/css" media="screen">

		<!-- @endif -->

		<!-- @if NODE_ENV == 'PRODUCTION' -->
		<link href="css/app.min.css" rel="stylesheet" type="text/css" media="screen">
		<!-- @endif -->


		<!-- Javascript files -->

		<!-- AngularJS--> 
		<script src="vendor/angular/angular.min.js" type="application/javascript"></script>
		<script src="vendor/angular/ng-table.min.js" type="application/javascript"></script>
		<script src="vendor/angular/ng-route.js" type="application/javascript"></script>
		<!-- elasticsearch js api -->
		<script src="vendor/elasticsearch/elasticsearch.js" type="application/javascript"></script>
		<script src="vendor/elasticsearch/elasticsearch.angular.min.js" type="application/javascript"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins and jVectoMap) -->
		<script src="vendor/jquery/jquery-1.11.1.min.js" type="application/javascript"></script>

		<!-- map libs -->
		<script src="vendor/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>

		<!-- app scripts  -->

		<!-- other application files -->
		<script src="js/app.js" type="application/javascript"></script>

		<!-- controllers -->
		<script src="js/controllers/homeCtrl.js"></script>

		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="js/geolocalisation.js"></script>

		<!-- services -->

		<!-- directives -->


		<!-- configuration file-->

	</head>


	<body role="document" ng-controller="HomeCtrl" class="container">
		<div class="row header">
			<div class="col-xs-12">B-A.BA</div>
		</div>
		<div class="row card">
			<div class="col-xs-12 title">Action Urgente</div>
			<div class="col-xs-12 details">
				<div class="button col-xs-12 col-sm-6" ng-click="agression =true">Je suis témoin d'une agression</div>
				<div class="button col-xs-12 col-sm-6">Je suis devant une personne blessée</div>
				<div ng-show="agression" class="col-xs-12 solution">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet sit facilis itaque esse mollitia officia corrupti quas deleniti fuga, possimus pariatur, voluptatibus blanditiis ducimus reprehenderit a hic eaque nostrum error.</div>
			</div>
		</div>
		<div class="row or">OU</div>
		<div class="row card2">
			<div class="col-xs-12 title">Aider une personne en détresse</div>
			<div class="checklist col-xs-12 col-sm-3">
				<ul class="unstyled">
					<li ng-repeat="issue in issues">
						<input type="checkbox" ng-model="issue.checked">
						<span>{{issue.name}}</span>
					</li>
				</ul>
			</div>
			<div id="map" class="col-xs-12 col-sm-9" style="height: 500px"></div>
		</div>
		</div>
	<div class="row bottom">
		<img src="images/bottom.png" alt="">
	</div>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="vendor/bootstrap/bootstrap.min.js"></script>

	</body>
</html>